---
export const prerender = true;
import DmcaNoticeSection from '@/components/DmcaNoticeSection';
import Main from '@/layouts/main.astro';
---

<Main title="DMCA Notice - NeoDLP">
	<DmcaNoticeSection client:load />
</Main>