---
export const prerender = true;
import PrivacyPolicySection from '@/components/PrivacyPolicySection';
import Main from '@/layouts/main.astro';
---

<Main title="Privacy Policy - NeoDLP">
	<PrivacyPolicySection client:load />
</Main>