---
export const prerender = true;
import TermsOfUseSection from '@/components/TermsOfUseSection';
import Main from '@/layouts/main.astro';
---

<Main title="Terms Of Use - NeoDLP">
	<TermsOfUseSection client:load />
</Main>